parameters:
    level: 8
    ignoreErrors:
        - '#Method .+ has parameter \$builder with no value type specified in iterable type Symfony\\Component\\Form\\FormBuilderInterface.#'
        -
            identifier: function.alreadyNarrowedType
    reportUnmatchedIgnoredErrors: false
